@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-border: var(--border);
  --color-ring: var(--ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
}

:root {
  --radius: 0.625rem;

  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);

  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);

  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);

  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);

  --border: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);

  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);

  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);

  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);

  --border: oklch(1 0 0 / 10%);
  --ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-primary text-white font-primary leading-loose;
  }
  .h1{
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2{
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3{
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
}

.text-outline{
  -webkit-text-stroke: 1px #ffffff;
}

.text-outline-hover{
  -webkit-text-stroke: 1px #00ff99;
}